ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,div.paragraph,blockquote,fieldset,input{ margin:0; padding:0; }
ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input{ margin:0; padding:0; }
 ul{ list-style:none; }
 fieldset{ border:0; }
 a img{ border:0; }
 .clear{ clear:both; }
 body { background-color:#ffffff; font-family:arial, verdana, sans-serif; font-size:12px; color:#666666; margin:0; padding:0; }
 div.paragraph { line-height:170%; }
 p { line-height:170%; }
 h1, h2, h3{ line-height:40px; }
 h2{ font-size:18px; }
 #wrapper { width:100%; margin:0pt auto; }
 #main { position:relative; width:986px; margin:0pt auto; }
 #header { float:left; width:986px; height 5px; }
 #sitename { color:#fff; padding-top:30px; padding-left:13px; font-size:26px; }
 #content-wrapper { float:left; width:986px; }
 #content { float:left; background-color: #ffffff; width:986px; }
 #header-image { float:left; background-color: #ffffff; padding:13px; _padding:13px 13px 0 13px; width:960px; height:211px; }
 .entomologist_header
{ 
  width:960px;
  height:224px; 
  background-image: url(images/header.jpg) !important;
  background-position: 0 0 !important;

}

code
{
      -moz-background-clip: border !important;
    -moz-background-origin: padding !important;
    -moz-background-size: auto auto !important;
    -moz-border-radius-bottomleft: 3px !important;
    -moz-border-radius-bottomright: 3px !important;
    -moz-border-radius-topleft: 3px !important;
    -moz-border-radius-topright: 3px !important;
    -x-system-font: none !important;
    background-attachment: scroll !important;
    background-color: #F9F9F9 !important;
    background-image: none !important;
    background-position: 0 0 !important;
    background-repeat: repeat !important;
    border-bottom-color: #CCCCCC !important;
    border-bottom-style: solid !important;
    border-bottom-width: 1px !important;
    border-left-color-ltr-source: physical !important;
    border-left-color-rtl-source: physical !important;
    border-left-color-value: #CCCCCC !important;
    border-left-style-ltr-source: physical !important;
    border-left-style-rtl-source: physical !important;
    border-left-style-value: solid !important;
    border-left-width-ltr-source: physical !important;
    border-left-width-rtl-source: physical !important;
    border-left-width-value: 1px !important;
    border-right-color-ltr-source: physical !important;
    border-right-color-rtl-source: physical !important;
    border-right-color-value: #CCCCCC !important;
    border-right-style-ltr-source: physical !important;
    border-right-style-rtl-source: physical !important;
    border-right-style-value: solid !important;
    border-right-width-ltr-source: physical !important;
    border-right-width-rtl-source: physical !important;
    border-right-width-value: 1px !important;
    border-top-color: #CCCCCC !important;
    border-top-style: solid !important;
    border-top-width: 1px !important;
    color: #52595D !important;
    display: inline-block !important;
    font-family: Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace !important;
    font-size: 10px !important;
    font-size-adjust: none !important;
    font-stretch: normal !important;
    font-style: normal !important;
    font-variant: normal !important;
    font-weight: normal !important;
    line-height: normal !important;
    padding-bottom: 0.05em !important;
    padding-left: 0.3em !important;
    padding-right: 0.3em !important;
    padding-top: 0 !important;
}
 #navigation 
{
  float:left; 
  background-color:#188A36;
  width:960px;
  height:54px;
  margin-left:13px;
  overflow: hidden;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px; 
}

 #nav-content ul { float:left; width:930px; height:41px; padding:0 0 0px 0px; margin-left:20px; }
 #nav-content li { float:left; display:inline; font-family: arial, verdana, sans-serif; text-align:center; font-size:14px; color:#fff; font-weight:normal; padding:6px 35px 0px 0px; margin-top:12px; margin-right:3px; }
 #nav-bottom { float:left; width:986px; height:14px; _margin-bottom:-1px; }
 #navigation a:link { color:#fff; font-size:14px; font-weight:normal; text-decoration:none; }
 #navigation a:visited { color:#fff; font-size:14px; font-weight:normal; text-decoration:none; }
 #navigation a:hover { color:#ccc; font-size:14px; font-weight:normal; text-decoration:none; }
 #active a:link { color:#ccc; text-decoration:none; }
 #active a:hover { color:#ccc; text-decoration:none; }
 #active a:visited { color:#ccc; text-decoration:none; }
 a:link,a:hover,a:visited { color:#12283c; font-weight:normal; text-decoration:underline; }
 #content-main { float:left; background-color:#fff; width:910px; margin-left:13px; _margin-left:7px; padding:0 25px 35px 25px; height:auto !important; min-height:400px; }
 #footer { position:relative; float: left; width:100%; }
 #footer-image { margin:0pt auto; padding:7px 10px 0 0px; width:979px; height:28px; }
 #footer-contents { margin:0pt auto; text-align:left; font-family:"lucida grande", "lucida sans", arial, sans-serif; color:#333; padding:27px 10px 27px 35px; width:979px; }

div.paragraph ul, div.paragraph ol { padding-left: 25px !important; margin: 5px 0 !important; overflow:hidden; }
div.paragraph li { padding-left: 5px !important; margin: 3px 0 0 !important; }
div.paragraph ul, div.paragraph ul li { list-style: disc outside !important; }
div.paragraph ol, div.paragraph ol li { list-style: decimal outside !important; }

.rss-box
{
  #background-color:#E5ECF9;
background-color: #A7E2B7;
  border:1px solid #C5D7EF;
  text-align:left;
  width: 275px;
  float: right;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px; 
}

p.rss-title 
{
  line-height:16px !important;
  padding:7px!important;
  margin: 0 !important;
}
.rss-title
{
  text-decoration:none;
  font-family:verdana, sans-serif;
  font-size:13px;
  line-height:16px;
  color:#000 !important;
  font-weight:700 !important;
  text-align:left;
  margin:0; 
  padding:0;
}

a.rss-title,a:visited.rss-title,a:hover.rss-title
{
  background-color:transparent !important;
  color:#000;
  text-decoration:none;
  border: none !important;
} 
.rss-items
{
  color:#000; 
  border-top:1px solid #C5D7EF;
  margin:0;
  padding:0;
} 

.rss-item
{
  font-family:verdana, arial, sans-serif;
  font-size:11px;
  font-weight:400;
  background:#FFF !important;
  list-style:none;
  line-height:16px;
  border-bottom:1px solid #C5D7EF;
  padding:8px;
}

ul.rss-items
{
  margin:0 0 5px !important;
} 

ul li.rss-item
{
  background:#FFF;
  padding:8px !important;
} 

.rss-item a
{
  text-decoration:underline;
  color:blue !important;
  font-size:12px;
  font-weight:700;
  font-family:arial, sans-serif;
  border:none;
  padding:0;
}
.rss-item a:visited
{
  color:blue !important;
} 

.rss-date
{
  font-size:85%;
  font-weight:400;
  color:#F60;
}

