body {
    background: non repeat scroll 0 0 #D5F0F9;
    color: #444444;
    font-family: sans;
    font-size: 13px;
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
}

#container {
    background: none repeat scroll 0 0 #FFFFFF;
    margin: 0 auto;
    padding: 0;
    width: 920px;
}
#header {
    height: 88px;
    margin: 0 auto;
    padding: 0;
}

#header h1 {
    padding-left: 15px;
    padding-top: 15px;
}

#header h1 a {
    color: #83B354;
    font-family: sans;
    font-size: 48px;
    font-weight: bold;
    text-decoration: none;
}

#header p {
    color: #999999;
    font-family: sans;
    font-size: 20px;
    font-weight: normal;
    line-height: 12px;
    margin-left: 12px;
    margin-top: 0;
    padding-left: 8px;
}

#navigation {
    background-color:#83B354;
    height: 40px;
    margin-top: 26px;
    width: 920px;
}

#navigation ul {
    height: 40px;
    list-style: none outside none;
    margin: 0;
    padding: 0 10px;
}

#navigation ul li {
    display: block;
    float: left;
    padding: 0;
}

#navigation ul li a {
    color: #D5F0F9;
    display: block;
    font-size: 14px;
    padding: 12px 20px;
    text-decoration: none;
    text-transform: uppercase;
}

#download ul {
    padding-left: 20px;

}

#navigation ul li a:hover {
    color: #FFFFFF;
}

#content {
    float: left;
    margin: 15px 0;
    padding-right: 6px;
    width: 100%;
}

#about p {
    padding-bottom: 10px;
}
h2 {
    color: #000000;
    font-size: 20px;
    padding-bottom: 10px;
}

h3 {
    color: #999999;
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 10px;
}

